:root {
  --main-accent-color: #2A396A;
  --main-shadow-accent-color: #25325D;
  --shadow-color: #00000033;

  --bg-white: #F9F9F9;
  --bg-dark: var(--main-accent-color);

  --accent1: #F1BE48; /* yellow - PANTONE 142 */
  --accent2: #D3B4E2; /* purple - Orchid Bloom */
  --accent3: #FBC1D1; /* pink - PANTONE 493 */

  --active: #7DCC79; /* green - PANTONE 7737 */
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  background-color: var(--main-accent-color);
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0px 4px 8px 0px var(--shadow-color);;
}

li .active {
  font-weight: bold;
}

.menu, .dropdown-content, .dropdown-subcontent, .navigation-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu, .navigation-menu {
  overflow: hidden;
}

.menu a, .navigation-menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1em;
}

.menu .right {
  float: right;
}


.menu .right .dropdown-content {
  right: 0em;
}

/* Dropdown Button */
.navigation-menu .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 1em;
  border: none;
  outline: none;
  color: white;
  padding: 1em 1em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  float: none;
  position: absolute;
  background-color: var(--bg-white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--shadow-color);
  z-index: 1;
}

.dropdown-content li {
  border-left: 4px solid var(--accent1);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content li a, .dropdown-subcontent li a {
  border-bottom: 1px dotted lightgray;
}

.dropdown-content .subdropdown {
  background-color: white;
}

/* Dropdown sub-contents */
.dropdown-subcontent {
  display: none;
  position: absolute;
  background-color: var(--bg-white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--shadow-color);
  transform: translate(-100%,-3.2em);
  z-index: 1;
}

.dropdown-subcontent li {
  border-left: 4px solid var(--accent2);
}

.dropdown-subcontent a {
  float: none;
  color: black;
  padding: 1em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Hovers */
.menu a:hover, .dropdown:hover .dropbutton, .navigation-menu a:hover {
  background-color: var(--hover-color, #00000033);
  color: white;
}

.dropdown-content a:hover {
  background-color: #00000011;
  color: black;
}

.dropdown-content .subdropdown:hover {
  background-color: #00000022;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .subdropdown:hover .dropdown-subcontent {
  display: block;
}

@media screen and (max-width: 650px) {
  .menu a:not(.logo), .dropdown .dropbutton {
    display: none;
  }

  .navigation-menu a.logo {
    float: none;
    width: auto;
    max-width: 75%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
  }

  .navigation-menu a.icon {
    float: right;
    display: block;
  }

  .dropdown-subcontent {
    display: block;
    position: relative;
    transform: translate(0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 650px) {
  .navigation-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navigation-menu {
    position: sticky;
  }

  .navigation-menu.responsive {
    position: relative;
  }

  .menu {
    background-color: var(--main-shadow-accent-color);
    max-height: 80vh;
    width: calc(100% + 50px);
    padding-right: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
  }

  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .menu.responsive .dropdown {
    float: none;
  }

  .menu.responsive .dropdown-content {
    position: relative;
  }

  .menu.responsive .dropdown .dropbutton {
    display: block;
    width: 100%;
    text-align: left;
  }

  .menu.responsive .subdropdown .dropdown-subcontent {
    display: block;
  }
}
