---
---

@import "{{ site.theme }}";

.site-footer {
  border-top: solid 2px $hr-border-color;
}

.plain {
  padding: 1rem 2rem;
  margin: 0 0;
  padding-top: 1rem;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 5rem;
    margin-top: -5rem;
  }
}
