@import "{{ site.theme }}"
body {
  margin:0;
  font-family:Arial
}

nav {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  background-color: #333;
}

ul.menu, .dropdown-content, .dropdown-subcontent, .navmenu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown-content li {
  border-left: 4px solid skyblue;
  border-bottom: 1px dotted lightgray;
}

ul.dropdown-subcontent li {
  border-left: 4px solid #cccccc;
  padding-left: 10px;
}

.dropdown-content li, .dropdown-subcontent li {
  border-bottom: 1px dotted lightgray;
}

.dropdown-content .subdropdown {
  background-color: white;

}

.menu, .navmenu {
  overflow: hidden;
  background-color: #333;
}

.menu a, .navmenu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a.right {
  float: right;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navmenu .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  float: none;
  right: 0px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu a:hover, .dropdown:hover .dropbutton, .navmenu a:hover {
  background-color: #555;
  color: white;
}

.dropdown-content .subdropdown:hover {
  background-color: #bbb;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown-subcontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 0;
  transform: translate(-100%,0%);
}

.dropdown-subcontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .subdropdown:hover .dropdown-subcontent {
  display: block;
}

@media screen and (max-width: 650px) {
  .menu a:not(.logo), .dropdown .dropbutton {
    display: none;
  }

  .navmenu a.logo {
    float: none;
    width: 50%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
  }

  .navmenu a.icon {
    float: right;
    display: block;
  }

  .dropdown-subcontent {
    display: block;
    position: relative;
    transform: translate(0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 650px) {
  .navmenu .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navmenu {position: sticky;}
  .navmenu.responsive {position: relative;}
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .menu.responsive .dropdown {float: none;}
  .menu.responsive .dropdown-content {position: relative;}
  .menu.responsive .dropdown .dropbutton {
    display: block;
    width: 100%;
    text-align: left;
  }
  .menu.responsive .subdropdown .dropdown-subcontent {
    display: block;
  }
}
